.idea
.env
venv
ExtractCityData/db_config.yml
UDV_server.egg-info
API_Extended_Document/log/*
API_Extended_Document/Dockerfile
API_Extended_Document/**/__pycache__/*
API_Extended_Document/log/*
API_Extended_Document/Dockerfile
API_Extended_Document/postgres-data/*
*.log